@{
    ViewData["Title"] = "Home Page";
}
<img src="~/Contruction.jpg" height="500" width="1100" />

<div class="text-center">
    <h1 class="display-4">Welcome to Construction Career</h1>
    <p>
        Working in a development exchange or specialty is most's opinion about as development work. Exchanges and specialties incorporate bricklaying, stonemasonry, carpentry, joinery, destruction work, electrical work, painting and beautifying, plumbing, platform, steeplejacking, and divider and floor work
        The definition of construction is the process of making something, the occupation of building or the way that something is put together. ... An example of construction is the art of making homes and businesses. An example of construction is how a sentence is put together using words</a>.
    </p>
</div>
